<div id="index" class="view" role="main">
	<article>
		<h1>Welcome to Vincent V. Toscano&#8217;s repository dealing with static page building.</h1>
		<h2>Phone Home</h2>
		<section>
			This is an example of a static webpage builder created by Vincent V. Toscano, to use JSON, partials, and full templates. I built this with a combination of tools that I&#8217;ve been using for sometime. The JSON files are first concatenated into one JSON file, then the selected template/s are are processed. Each template and partial uses the Handlebars template library to format the templates. Once processed, templating libraries are not required to operate the webpage, thus relieving the need to download (or make a request for) another asset from the server or CDN. Please visit <a href="http://vflux.biz">http://vflux.biz</a> if you want to see my portfolio of professional work as a Director of DevOps.
		</section>
	</article>
</div>
