	<div id="about" class="view" role="main">
		<article>
			<h1>Welcome to About Vincent V. Toscano</h1>
			<section>
				<h2>Static Page Builder</h2>
				<p>This is a sample static web site builder created to use JSON, partials, and full templates.</p>
			</section>
		</article>

			<article>
				<h1>Today&apos;s The Day</h1>
				<section>
					Enjoy this static page builder. Use HTML5, CSS3 and JavaScript to develop your pages as normal.
				</section>
			</article>
			<article>
				<h1>Up and Onward</h1>
				<section>
					Vincent works as the Director of DevOps.
				</section>
			</article>
	</div>
