{{#with dataCompiled.DYNAMIC_PAGE_NAME_HERE}}
<div id="DYNAMIC_PAGE_NAME_HERE" class="view" role="main">
	<article>
		<h1>{{{heading1}}}</h1>
		<h2>{{{heading2}}}</h2>
		<section>
			{{{body}}}
		</section>
	</article>
</div>
{{/with}}